* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif SC", serif;
    color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
  }

html, body {
    background-image: url("img/230719.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    overflow: hidden;
}

.bg-text {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
    font-size: 13px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
}

.nav ul li {
    float: right;
}

.nav ul li a {
    line-height: 50px;
    font-weight: 700;
    display: block;
    padding: 0 20px;
}

article {
    width: 900px;
    margin: 12px auto;
    color: #ffffff;
}

h1 {
    line-height: 2;
    text-align: center;
    font-size: 30px;
}

p {
    margin: 14px auto;
    text-align: justify;
    font-size: 20px;
    line-height: 2;
}