* {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif SC", serif;
    color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
  }

html, body {
    background-image: url("img/100530.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    overflow: hidden;
}

.bg-text {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
    font-size: 13px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
}

.nav ul li {
    float: right;
}

.nav ul li a {
    line-height: 50px;
    font-weight: 700;
    display: block;
    padding: 0 20px;
}

.home {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.home-text {
    font-size: 30px;
    line-height: 1.75;
}

@font-face {
    font-family: "Noto Serif Tibetan";
    src: url("https://fonts.googleapis.com/css2?family=Noto+Serif+Tibetan&display=swap");
}

.home-text-bo {
    font-size: 30px;
    line-height: 1.75;
    font-family: "Noto Serif Tibetan", serif;
}