* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, "Noto Serif SC", serif;
    font-size: 20px;
    color: #ffffff;
    text-shadow:
    0 0 0.2em #4d4d4d,
    -.5px -.5px 0 #000000,
    .5px -.5px 0 #000000,
    -.5px .5px 0 #000000,
    .5px .5px 0 #000000;
}

html, body {
    background-image: url("img/180727.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    overflow: visible;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    display: none;
}

.bg-text {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
    font-size: 13px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 15px;
    transition: background 0.3s;
}

.nav-list li a:hover {
    background-color: #ffffff20;
    border-radius: 4px;
}

.search-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
}

.search-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

#searchBox {
    width: calc(90% - 150px);
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #aaaaaa;
    font-size: 18px;
    outline: none;
    transition: border 0.3s;
    color:#007BFF;
    text-shadow: none;
    box-sizing: border-box;
}

#searchBox:focus {
    border-color: #0077ff;
}

button {
    width: auto;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 25px;
    background-color: #0077ff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-shadow: none;
}

button:hover {
    background-color: #0056b3;
}

#results {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    text-align: center;
    margin-top: 10px;
}

#results a {
    display: block;
    margin: 0 10px;
    text-decoration: none;
}

#results a:hover {
    text-decoration: underline;
}

.hamburger {
    padding: 0;
    font-size: 20px;
    display: none;
    background: transparent;
    border: none;
    transition: none;
    text-shadow: 0 0 0.2em #4d4d4d;
}

.hamburger:hover {
    background: transparent;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 10px;
        top: 60px;
        background: #00000050;
        border-radius: 4px;
        z-index: 10;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .nav-list.active {
        display: flex;
    }
}